{% extends "base.html.twig" %}

{% block title %}Delete All{% endblock %}

{% block h1 %}It's a PHPurge!{% endblock %}

{% block content %}
<h3>You've deleted all your contacts</h3>
<a href="/"><button class="btn">Home</button></a>
{% endblock %}
