h1 {
  margin-left: 30px;
}

h2 {
  border-bottom: 3px solid black;
}

.clickable-header {
  cursor: pointer;
}

.clickable-header:hover {
  text-shadow: 1px 1px grey;
}

#new-contact-button, #delete-all-button, #edit-submit-button {
  margin-top: 20px;
}

#edit-form {
  padding-top: 20px;
}

#contacts {
  margin-top: 50px;
}

label {
  margin-top: 8px;
}

.card {
  margin-bottom: 20px;
}

.card li {
  line-height: 30px;
  list-style: none;
}

.card-block {
  padding-bottom: 0px;
}

.remove-button, .edit-button {
    height: 27px;
    width: 27px;
    float: right;
    cursor: pointer;
}

.edit-button {
  margin-right: 30px;
}

.remove-button:hover, .edit-button:hover {
  height: 30px;
  width: 30px;
}

.remove-button:hover {
  margin-right: -3px;
}
